body{
    font-family: 'Poppins', sans-serif;
    font-size: 900;
}
section{
    margin-top: 100px;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.grey-color{
    color: grey;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#FC8F49, #FE492E);
    color: white;
    font-weight: 900;
    padding: 20px 45px;
    border-radius: 30px;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width h1{
    width: 80%;
}
.half-width h3{
    width: 70%;
}
#about-pic{
    width: 300px;
}
#about{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    padding: 85px;
}
h2{
    font-size: 35px;
}
.text-allign{
    text-align: center;
}
.items {
    display: flex;
}
.items .item1 {
    width:33.33%;
    padding: 20px;
}
.items .item1 img {
    width:100%;
}
.border{
    background-color: rgb(14, 13, 13);
    text-align: center;
    padding: 10px;
    margin: 0;
}
#paddin-faq{
    padding: 5%;
}
#white-footer{
    color: white;
}